{{ if site.Data.cta.cta.enable }}
{{ with site.Data.cta.cta }}
<section class="call-to-action bg-1 section-sm overly" style="background-image: url({{.image|absLangURL}})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="mb-3">{{ .title | markdownify }}</h2>
                    <p>{{ .subtitle | markdownify }}</p>
                    {{ if .button.enable }}
                    {{ with .button }}
                    <a class="btn btn-main btn-solid-border" href="{{ .link }}">{{ .label }}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}