<head>
    <meta charset="utf-8">

    <title>{{ .Page.Title }}{{if .Page.Title }} | {{ end }}{{ .Site.Title }}</title>

    <meta property="og:title" content="{{ .Page.Title }}{{if .Page.Title }} | {{ end }}{{ .Site.Title }}" />
    <meta property="og:type" content="Bookings" />
    <meta property="og:url" content="{{ .RelPermalink | absLangURL }}" />
    <meta property="og:image" content="{{ .Page.Params.heroSection.image }}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ if .Page.Content }}{{ .Page.Content | truncate 70 }}{{ else }}{{ .Page.Params.heroSection.Subtitle }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <meta name=”twitter:card” content=”summary”>
    <meta name=”twitter:title” content='{{ .Page.Title }}{{if .Page.Title }} | {{ end }}{{ .Site.Title }}'>
    <meta name=”twitter:description” content='{{ if .Page.Content }}{{ .Page.Content | truncate 70 }}{{ else }}{{ .Page.Params.heroSection.Subtitle }}{{ end }}'>
    <meta name=”twitter:image” content='{{ .Page.Params.heroSection.image }}'>

    <link rel="apple-touch-icon" sizes="76x76" href='{{ "favicon/apple-touch-icon.png" | absLangURL }}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ "favicon/favicon-32x32.png" | absLangURL }}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ "favicon/favicon-16x16.png" | absLangURL }}'>
    <link rel="manifest" href='{{ "favicon/site.webmanifest" | absLangURL }}'>
    <link rel="mask-icon" href='{ "favicon/safari-pinned-tab.svg" | absLangURL }}' color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href='{{ "plugins/bootstrap/bootstrap.min.css" | absLangURL }}'>
    <!-- Ionic Icon Css -->
    <link rel="stylesheet" href='{{ "plugins/Ionicons/css/ionicons.min.css" | absLangURL }}'>
    <!-- animate.css -->
    <link rel="stylesheet" href='{{ "plugins/animate-css/animate.css" | absLangURL }}'>
    <!-- Magnify Popup -->
    <link rel="stylesheet" href='{{ "plugins/magnific-popup/magnific-popup.css" | absLangURL }}'>
    <!-- Slick CSS -->
    <link rel="stylesheet" href='{{ "plugins/slick/slick.css" | absLangURL }}'>

    {{ if site.Data.homepage.slider.enable }}
    <link href="http://fonts.cdnfonts.com/css/dm-serif-display" rel="stylesheet">
    {{ end }}

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href='{{ "css/style.css" | absLangURL }}'>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>