<header class="navigation nav-scroll nav-ontop" id="navbarkgp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg p-0">
          <a class="navbar-brand nav-link" href="index.html">
            {{/*  {{ if .Site }}
              <img src="images/logo.png" alt="Logo" />
            {{ else }}  */}}
            {{ .Site.Title }}
            {{/*  {{ end }}  */}}
          </a>

          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ion-android-menu"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarsExample09">
            <ul class="navbar-nav ml-auto">
              {{ range site.Menus.main }}
              {{ $active := eq $.RelPermalink (.URL | relLangURL) }}
              {{ $active = or $active (eq $.Section (lower .Name)) }}
              {{ if .HasChildren }}
              <li class="nav-item dropdown {{ if $active }}active{{ end }}">
                <a class="nav-link dropdown-toggle" href="{{ .URL | absURL }}" href="{{ .URL | absURL }}" id="dropdown03" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="ion-ios-arrow-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdown03">
                  {{ range .Children }}
                  <li>
                    <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                </ul>
              </li>
              {{ else }}
              <li class="nav-item {{ if $active }}active{{ end }}">
                <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
              </li>
              {{ end }} {{ end }}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
