{{ range (where site.RegularPages "Type" "testimonial") }}
<div>
    <i class="ion-quote"></i>
    <p>{{ .Params.quote }}</p>
        <div class="user">
            {{ with resources.Get .Params.image }}
            {{ with .Resize ("100x100 webp") }}
              <img src="{{ .RelPermalink | absLangURL}}" alt="{{ .Params.clientName }}">
            {{ end }}
            {{ end }}
            <p><span>{{ .Params.clientName }}</span> {{ .Params.clientTitle }}</p>
        </div>
    </div>
{{ end }}