{{ define "main" }}

{{- partial "hero.html" .Title -}}

{{ .Resources.Get "image/battle-of-the-forts.jpg" }}
<section class="service" id="services">
    <div class="container">
      <div class="row">
        {{ range (where site.RegularPages "Type" "services") }}
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="{{ .Params.url | absURL }}">
          <div class="service-item">
            {{ with resources.Get .Params.cover.image }}
            {{ with .Resize ("400x webp") }}
              <img src="{{ .RelPermalink }}" alt="{{ .Title }}" class="card-img-top rounded">
            {{ end }}
            {{ end }}
            <h4>{{ .Title }}</h4>
            <p>{{ .Content | truncate 100 }}</p>
          </div>
        </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>


{{ end }}