{{ define "main" }}

{{- partial "hero.html" .Title -}}

<section class="service" id="services">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="row">
        {{ range (where site.RegularPages "Type" "services") }}
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="{{ .RelPermalink | absLangURL}}">
          <div class="service-item">
            {{ with resources.Get .Params.image }}
            {{ with .Resize ("400x webp") }}
              <img src="{{ .RelPermalink | absLangURL}}" class="img-fluid rounded">
            {{ end }}
            {{ end }}
            <h4>{{ .Title }}</h4>
            <p>{{ .Content | truncate 100 }}</p>
          </div>
        </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>

  {{ if site.Data.settings.callToAction.enableOrDisable.serviceEnable }}
  {{- partial "call-to-action.html" . -}}
  {{ end }}
{{ end }}