{{ define "main" }}

{{ if .Page.Params.heroSection.enable }}
{{ with .Page.Params.heroSection }}
{{ with resources.Get .image }}
{{/*  {{ with .Resize ("1200x webp") }}  */}}
<section class="slider" style="background-image: url({{.RelPermalink}})">
{{/*  {{ end }}  */}}
{{ end }}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp" style="font-family: 'DM Serif Display', sans-serif;">{{ .title | markdownify }}</h1>
					<p class="animated fadeInUp" >{{ .subtitle | markdownify }}</p>
          {{ if .button }}
					  <a href="{{ .buttonurl }}" class="btn btn-main animated fadeInUp" >{{ .buttontitle }}</a>
          {{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}




{{ if .Page.Params.aboutSection.enable }}
{{ with .Page.Params.aboutSection }}
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
					<div class="section-title">
						<h2>{{ .title | markdownify }}</h2>
						<p>{{ .subtitle | markdownify }}</p>
					</div>
					<p>{{ .body | markdownify }}</p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="block">
          {{ with resources.Get .image }}
          {{ with .Resize ("800x webp") }}
            <img src="{{ .RelPermalink }}" alt="{{ .Params.cover.alt }}" class="img-fluid rounded">
          {{ end }}
          {{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}


{{ if .Page.Params.heroSectionSwo.enable }}
{{ with .Page.Params.heroSectionSwo }}
{{ with resources.Get .image }}
{{/*  {{ with .Resize ("1200x webp") }}  */}}
<section class="feature bg-2 overly" style="background-image: url({{.RelPermalink}})">
{{/*  {{ end }}  */}}
{{ end }}
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        {{ if .title }}
        <h2 class="section-subtitle">{{ .title | markdownify }}</h2>
        {{ end }}
        {{ if .body }}
        <p>{{ .body | markdownify }}</p>
        {{ end }}
        {{ if .button }}
        <a href="{{ .buttonurl }}" class="btn btn-view-works">{{ .buttontitle }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if .Page.Params.serviceSection.enable }}
{{ with .Page.Params.serviceSection }}
<section class="service" id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range first 8 (where site.RegularPages "Type" "services") }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="{{ .RelPermalink }}">
        <div class="service-item">
          {{ with resources.Get .Params.image }}
            {{ with .Resize ("300x webp") }}
              <img src="{{ .RelPermalink }}" alt="{{ .Title }}" class="card-img-top rounded">
            {{ end }}
            {{ end }}
          <h4>{{ .Title }}</h4>
          <p>{{ .Content | truncate 80 }}</p>
        </div>
      </a>
      </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="mx-auto mt-5">
        {{ if .button }}
					  <a href="{{ .buttonurl }}" class="btn btn-main" >{{ .buttontitle }}</a>
          {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{- partial "call-to-action.html" . -}}


{{ if .Page.Params.testimonialSection.enable }}
{{ with .Page.Params.testimonialSection }}
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            <div>
              <i class="ion-quote"></i>
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative
                ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="images/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative
                ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="images/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative
                ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="images/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative
                ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="images/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}